* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*  comic sans*/
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 400;
    /* align-items: center; */
}
a {
    color: #fff;
    text-decoration: none;
}

.flex-master-container {
    /* background-color: blue; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flex-master-container-row {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    justify-content: center;
    align-items: center;
    max-width: 1110px;
    margin: auto;
}
.navadjustment{
    padding-top: 50px;
}


.navigation {
    position: fixed;
    width: 100%;
    background: rgb(15, 110, 73);
    height: 50px;
    color: #fff;

}
    
.navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation a {
    color: #fff;
}

.navigation .container ul {
    text-decoration: none;
    list-style-type: none;
}

.navigation .container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation .container li {
    padding: 0 10px;
}

.bgcream {
    background-color: #f2ede0;
}

.block {
    flex: 1 0 100px;
    margin: 5px;
    /* background-color: red; */
    /* flex-basis: 300px; */
    /* flex-grow: 1; */
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #222; */
    /* border-radius: 15px; */
}

/* .block .img */
.waletimg {
    max-width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttoncontainer{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    /* min-width: 40px; */
    align-items: center;
    background-color: #1c4946;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    margin: 3px;
    padding: 10px;
}



.button-slim {
    align-items: center;
    background-color: #1c4946;
    border-radius: 5px;
    border: 1px solid #222;
    display: flex;
    font-size: 15px;
    height: 20px;
    justify-content: center;
    margin: 1px;
    padding: 5px;
}

.buttonwhite {
    border: 1px solid #fff;
}


.buttonblack {
    border: 1px solid #000;
    color: #000;
    /* remove background */
    background-color: transparent;
}

.getstartedimg {
    flex-basis: 200px;
    /* flex-grow: 1; */
}
.getstartedtext {
    flex-basis: 200px;
    flex: 1 1 200px;
}

.flextwo:nth-child(1) {
    flex-grow: 1;
}
.flextwo:nth-child(2) {
    flex-grow: 3;
    min-width: 200px;
}

.footerstyle {
    margin-top: 100px;
    padding-top: 20px;
    background-color: #1c4946;
}

.copyrightdiv {
    margin-top: 10px;
    background-color: #112c2a;
    padding-bottom: 10px;
}

.sectionmargin {
    padding-top: 10px;
    margin-bottom: 40px;
}


#Wallets,#WhatisDogecoin,#Getstartednow {
    padding-top: 50px;
    margin-top: 50px;
}


/* 

# creates a flex container 
display: flex cdg





.














*/
