*{
    margin: 0;
    padding: 0;
}

body{
    background: #aaa;
    font-weight: 900;
}
.horizontallist{
    list-style-type: none;

}

a{
    color: #fff;    
    text-decoration: none;
}

.navigation h1{
    text-align: center
}

.navigation{
    position: fixed;
    padding-top: 20px;
    font:  sans-serif;
    color: #fff;
    display: inline-block;
    background-color: #1c4946;
    height: 50px;
    width: 100%;
}
.navigation ul{
    float: right;
    text-decoration: none;
    list-style: none;
    list-style-type: none;

}
.navigation li{
    display: inline;
    padding: 0px 10px;
}
.navigation h1{
    display: inline;
    padding-left: 30px;
    
}

.inline{
    display: inline-block;
}

img{
    max-width: 200px;
    max-height: 200px;
    max-height: 100%;
    height: auto; 
}

.getstarted{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: #f2ede0;
}

.button{
    border: 1px solid #000;
    background-color: #1c4946;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    min-width: 40px;
    width: auto;

    height: 20px;
    display: inline-block;
    margin: 3px;
    
}

.textpadding{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 40px;
}

.wallets{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}

.block{
    float: left;
    width: 33%;
}

.centertext{
    text-align: center;
    margin: auto;
    width: 50%;
}